body {
    font-family: 'Roboto',sans-serif;
}

.green_hr {
    width: 57px;
    height:5px;
    background-color: #17cdb0;

}

.color_green {
    color:#17cdb0;
    font-weight: bold;
    font-size: 16px;
}

del {
    color: #ccc;
}

h1 {
    font-size: 48px;
}

/* --------------HEADER --------------------*/

.background {
    background: url(img/header_bg.png);
    background-color: #aeaeae;
}

.header {
    padding-top: 234px;
    padding-bottom : 234px;
    /* height: 850px; */
    text-align: center;
    color: white;
    
}


.titlebg{
    background-color: rgb(180,180,180);
    padding: 25px;
    font-family: 'Roboto', sans-serif;
}

.titlebg span {
    color: #17cdb0;
}

.learn_more {
    background-color: #17cdb0;
    color: white;
    padding : 15px;
    border-radius: 5px;
    margin-top: 30px;
}


/* -----------------INTRODUCTION --------------*/

.introduction {
    color: black;
    text-align: center;
    padding: 100px;
}

.introduction_features {
    margin-top: 88px;
}

.introduction_features features{

    margin-top: 25px;
}


/* --------------------- STICK IPHONE------------ */

.stick_phone_bg {
    background: url(img/bg_stick_phone.png);
}

#stick_phone {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 60px;
    padding-bottom: 60px;

}

/* hr a mettre a gauche */
.stick_phone hr {
    text-align: start; 

}

.features_title {
    font-size: 16px;
    font-weight: bold;
}

.stick_phone_section ul {
    margin-top : 53px;
}
.stick_phone_section li {
    list-style-image: url(img/check.png);
    margin-top: 24px;
    font-weight: bold;
}

.row .about {
    margin-top: 63px;

}


/* --------------------- SOME FACTS----------- */
.fact_1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fact_2 {
    color: white;
}

.numbers{
    font-size: 55px;
}

/* ---------------------PRICE TABLE----------- */

.price_table {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.price_header{
    margin-top: 20px;
    background-color: #2d3e58;
    padding-top: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px 2px 0  0;
}

.purchase:hover {
    transform: scale(1.02);
    transition: transform .2s;
}

.purchase:hover .price_header {


    background-color: #17cdb0;
    
}

.purchase:hover .button_purchase {

    background-color: #17cdb0;
    
}

.button_purchase { 
    background-color: #2d3e58;
    padding: 10px;
    border-radius: 1px ;
    border: none;
 
}

.button_purchase { 
    background-color: #2d3e58;
 
}

.button_purchase>a{
    color: white;
}
.price_body {
    background-color: #f7f8fa;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.price_body ul {
    text-align: left;
    margin-left: 25%;       
}
.price_body li{
    list-style-image: url(img/check.png); 
    font-size: 16px;
    margin-top: 24px;
    font-weight: bold;
    
}

.pricetable_features_list>li.uncheck {
    list-style-image: url(img/uncheck.png); 

}



/* ---------------------TESTIMONIALS----------- */ 

.testimonials {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.testimonials_bg {
     background-color:#f7f8fa;
}

.testimonials > .row {
    margin-top: 30px;
}

.testimonials_text:first-child{
    border: 1px solid;
    border-left: 1px; 

}

.testimonials_img{
    max-height: 87px;
    max-width: 87px;
    border-radius: 50%;
    border : 6px solid white;
    
}


/* ---------------------DOWNLOAD----------- */ 


.download_bg {
    background-color: #cccccc;
}

.download {
    color: white;
    height: 621px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download_app {
    background-color: white;
    color: black;
    padding: 13px 24px 5px 23px;
}

/* ---------------------SUBSCRIBE----------- */ 

.subscribe {
    padding: 63px;
}
.subscribe_now {
    background-color: #17cdb0;
    color: white;
    padding : 15px;
    border-radius: 5px;
    margin-top: 30px;
}

.subscribe_group {
    border: solid 1px #999999;
    padding: 63px;

}


/* ---------------------CLIENTS----------- */ 


.clients {
    background-color: #f7f8fa;
}

.clients_group {
    padding: 63px;
}


/* ---------------------FOOTER----------- */ 

.footer_bg {
    background-color: #001111;
}

.footer {
    padding: 25px;
    color: white;
    font-size: 12px;

}

.footer ul li {
    margin-left: 12px;
}